In [1]:
import pandas as pd

# Skill Types as column names
columns = ["Slash", "Strike", "Pierce", "Fire", "Ice", "Elec", "Wind", "Light", "Dark",
           "Recovery", "Enhance", "Bad Status", "Special", "Almighty", "Passive"]

# Inheritance Type
inheritance_type = ["ALL"]  # This will be the same for all rows, but it's in a list to match dimensions

# PrR values, assuming "-" should be treated as 0, but your data only has 1.0 values
pr_values = [1.0 for _ in columns]  # Replace with 0 where necessary

# Creating a DataFrame with a single row of data, expanding 'pr_values' across the row
df = pd.DataFrame([pr_values], columns=columns)

# Adding the "Inheritance Type" column
df['Inheritance Type'] = inheritance_type

print(df)

   Slash  Strike  Pierce  Fire  Ice  Elec  Wind  Light  Dark  Recovery  \
0    1.0     1.0     1.0   1.0  1.0   1.0   1.0    1.0   1.0       1.0

   Enhance  Bad Status  Special  Almighty  Passive Inheritance Type
0      1.0         1.0      1.0       1.0      1.0              ALL

In [ ]:
# New data for the rows
new_data = [
    {"Inheritance Type": "SLASH", "Slash": 8.0, "Strike": 1.0, "Pierce": 1.0, "Fire": 0, "Ice": 0, "Elec": 0, "Wind": 0, "Light": 0, "Dark": 0, "Recovery": 0.2, "Enhance": 0.2, "Bad Status": 0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "STRIKE", "Slash": 1.0, "Strike": 8.0, "Pierce": 1.0, "Fire": 0, "Ice": 0, "Elec": 0, "Wind": 0, "Light": 0, "Dark": 0, "Recovery": 0.2, "Enhance": 0.2, "Bad Status": 0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "PIERCE", "Slash": 1.0, "Strike": 1.0, "Pierce": 8.0, "Fire": 0, "Ice": 0, "Elec": 0, "Wind": 0, "Light": 0, "Dark": 0, "Recovery": 0.2, "Enhance": 0.2, "Bad Status": 0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "FIRE", "Slash": 0.2, "Strike": 0.2, "Pierce": 0.2, "Fire": 8.0, "Ice": 0, "Elec": 0, "Wind": 0, "Light": 1.0, "Dark": 1.0, "Recovery": 1.0, "Enhance": 1.0, "Bad Status": 1.0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "ICE", "Slash": 0.2, "Strike": 0.2, "Pierce": 0.2, "Fire": 0, "Ice": 8.0, "Elec": 0, "Wind": 0, "Light": 1.0, "Dark": 1.0, "Recovery": 1.0, "Enhance": 1.0, "Bad Status": 1.0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "ELECTRICITY", "Slash": 0.2, "Strike": 0.2, "Pierce": 0.2, "Fire": 0, "Ice": 0, "Elec": 8.0, "Wind": 0, "Light": 1.0, "Dark": 1.0, "Recovery": 1.0, "Enhance": 1.0, "Bad Status": 1.0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "WIND", "Slash": 0.2, "Strike": 0.2, "Pierce": 0.2, "Fire": 0, "Ice": 0, "Elec": 0, "Wind": 8.0, "Light": 1.0, "Dark": 1.0, "Recovery": 1.0, "Enhance": 1.0, "Bad Status": 1.0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "LIGHT", "Slash": 0, "Strike": 0, "Pierce": 0, "Fire": 0.2, "Ice": 0.2, "Elec": 0.2, "Wind": 0.2, "Light": 8.0, "Dark": 0, "Recovery": 1.0, "Enhance": 1.0, "Bad Status": 0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "DARK", "Slash": 0.2, "Strike": 0.2, "Pierce": 0.2, "Fire": 0.2, "Ice": 0.2, "Elec": 0.2, "Wind": 0.2, "Light": 0, "Dark": 8.0, "Recovery": 0, "Enhance": 0, "Bad Status": 1.0, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "LIGHT & DARK", "Slash": 0, "Strike": 0, "Pierce": 0, "Fire": 0.2, "Ice": 0.2, "Elec": 0.2, "Wind": 0.2, "Light": 3.8, "Dark": 3.8, "Recovery": 0.2, "Enhance": 0.2, "Bad Status": 0.2, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
    {"Inheritance Type": "RECOVERY", "Slash": 0, "Strike": 0, "Pierce": 0, "Fire": 1.0, "Ice": 1.0, "Elec": 1.0, "Wind": 1.0, "Light": 0.2, "Dark": 0.2, "Recovery": 8.0, "Enhance": 3.8, "Bad Status": 0.2, "Special": 1.0, "Almighty": 1.0, "Passive": 1.0},
    {"Inheritance Type": "BAD STATUS", "Slash": 0, "Strike": 0, "Pierce": 0, "Fire": 0.2, "Ice": 0.2, "Elec": 0.2, "Wind": 0.2, "Light": 0, "Dark": 1.0, "Recovery": 0, "Enhance": 1.0, "Bad Status": 3.8, "Special": 1.0, "Almighty": 0.2, "Passive": 1.0},
]

# Assuming 'df' is your existing DataFrame
# Append each new row to the DataFrame
for row in new_data:
    df = df.append(row, ignore_index=True)

print(df)

In [3]:
# open dataframe in '/home/eduardo/Documents/Persona3/AutoTelos/skills_list/skills.csv'
import pandas as pd

# Define the file path
file_path = '/home/eduardo/Documents/Persona3/AutoTelos/skills_list/skills.csv'

# Read the CSV file into a DataFrame
skills_df = pd.read_csv(file_path)

# Print the DataFrame
print(skills_df)

             skill     type                                             learns
0           Cleave    Slash     Hermes, Nekomata, Chimera, Archangel, Valkyrie
1      Power Slash    Slash                           Valkyrie, Gurr, Rakshasa
2         Getsu-ei    Slash  Rakshasa, Ares, Take-Mikazuchi, Orthrus, Hanum...
3           Zan-ei    Slash  Oberon, Ares, Titan, Pale Rider, Power, Jikoku...
4       Gale Slash    Slash             Rakshasa, Ghoul, Shiisaa, Flauros, Ose
..             ...      ...                                                ...
275  Full Analysis  Passive                                              Lucia
276   Healing Wave  Passive                                              Lucia
277         Oracle  Passive                                              Lucia
278   Support Scan  Passive                                              Lucia
279      Third Eye  Passive                                              Lucia

[280 rows x 3 columns]

In [4]:
# Get unique entries of 'type' column
unique_types = skills_df['type'].unique()

# Print the unique entries
print(unique_types)

['Slash' 'Strike' 'Pierce' 'Fire' 'Ice' 'Elec' 'Wind' 'Light' 'Dark'
 'Almighty' 'Bad Status' 'Recovery' 'Enhance' 'Special' 'Passive']

In [5]:
# Get all column names except 'Inheritance Type'
columns_except_inheritance = [col for col in df.columns if col != 'Inheritance Type']

# Print the column names
print(columns_except_inheritance)

['Slash', 'Strike', 'Pierce', 'Fire', 'Ice', 'Elec', 'Wind', 'Light', 'Dark', 'Recovery', 'Enhance', 'Bad Status', 'Special', 'Almighty', 'Passive']

In [6]:
# save df to csv
df.to_csv('/home/eduardo/Documents/Persona3/AutoTelos/inheritance_calculator/inheritance.csv', index=False)

In [7]:
import pandas as pd

# Persona type
persona_type = "ALL"

# List of personas
personas = ["Slime", "Legion", "Black Frost", "Ose", "Decarabia", "Loki", "Susano-o", "Orpheus Telos"]

# Creating a DataFrame with the provided data
df_personas = pd.DataFrame({
    "Type": [persona_type] * len(personas),  # Replicate the persona type for each entry
    "Persona": personas
})

In [8]:
# Since the user has provided the correct text, we can now accurately add the new rows to the DataFrame.

# Update the lists with the correct text provided
slash_personas = [
    'Yaksini', 'Barong', 'Raphael', 'Chimera', 'Ares', 'Taraka', 'Valkyrie',
    'Rakshasa', 'Titan', 'Jikokuten', 'Hanuman', 'Narasimha', 'Kali',
    'Siegfried', 'Masakado', 'Ganesha', 'Gurr', 'Girimehkala'
]

strike_personas = [
    'Ara Mitama', 'Zouchouten', 'Oumitsunu', 'Nata Taishi', 'Koumokuten',
    'Melchizedek', 'Ubelluris', 'Hecatoncheires', 'Helel', 'Yamatano-orochi',
    'Vishnu'
]

pierce_personas = [
    'Scathach', 'Raja Naga', 'Naga', 'Eligor', 'Cu Chulainn',
    'Seiten Taisei', 'Mara', 'Chi You', 'Kartikeya'
]

# We need to clear the previous DataFrame and start fresh
df_personas = pd.DataFrame(columns=["Type", "Persona"])

# Add the ALL type personas from the previous step
df_personas = df_personas.append([{"Type": "ALL", "Persona": persona} for persona in personas], ignore_index=True)

# Add the new SLASH type personas
df_personas = df_personas.append([{"Type": "SLASH", "Persona": persona} for persona in slash_personas], ignore_index=True)

# Add the new STRIKE type personas
df_personas = df_personas.append([{"Type": "STRIKE", "Persona": persona} for persona in strike_personas], ignore_index=True)

# Add the new PIERCE type personas
df_personas = df_personas.append([{"Type": "PIERCE", "Persona": persona} for persona in pierce_personas], ignore_index=True)

df_personas.tail()  # Show the last few rows to confirm the addition

/tmp/ipykernel_31748/747997253.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": "ALL", "Persona": persona} for persona in personas], ignore_index=True)
/tmp/ipykernel_31748/747997253.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": "SLASH", "Persona": persona} for persona in slash_personas], ignore_index=True)
/tmp/ipykernel_31748/747997253.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": "STRIKE", "Persona": persona} for persona in strike_personas], ignore_index=True)
/tmp/ipykernel_31748/747997253.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": "PIERCE", "Persona": persona} for persona in pierce_personas], ignore_index=True)

      Type        Persona
41  PIERCE    Cu Chulainn
42  PIERCE  Seiten Taisei
43  PIERCE           Mara
44  PIERCE        Chi You
45  PIERCE      Kartikeya

In [9]:
# Given the new tables and types, we'll add these personas to the DataFrame

# Types for the new personas
fire_type = "FIRE"
ice_type = "ICE"
electricity_type = "ELECTRICITY"

# Personas for each type
fire_personas = [
    'Orpheus', 'Nekomata', 'Pyro Jack', 'Hua Po', 'Sati', 'Rangda', 'Surt', 'Berith', 'Flauros',
    'Kumbhanda', 'Orthrus', 'Hell Biker', 'Okuninushi', 'Suzaku', 'Bishamonten', 'Saturnus', 'Seth', 'Asura'
]

ice_personas = [
    'Jack Frost', 'Apsaras', 'High Pixie', 'Sarasvati', 'Ganga', 'Parvati', 'Laksmi', 'Gabriel',
    'Skadi', 'Forneus', 'King Frost', 'Shiisaa', 'Genbu', 'Yurlungur'
]

electricity_personas = [
    'Oberon', 'Take-mikazuchi', 'Odin', 'Omoikane', 'Thoth', 'Hokuto Seikun', 'Thor', 'Take-minakata',
    'Byakko', 'Shiva', 'Dionysus', 'Michael'
]

# Add the new FIRE type personas
df_personas = df_personas.append([{"Type": fire_type, "Persona": persona} for persona in fire_personas], ignore_index=True)

# Add the new ICE type personas
df_personas = df_personas.append([{"Type": ice_type, "Persona": persona} for persona in ice_personas], ignore_index=True)

# Add the new ELECTRICITY type personas
df_personas = df_personas.append([{"Type": electricity_type, "Persona": persona} for persona in electricity_personas], ignore_index=True)

df_personas.tail()  # Show the last few rows to confirm the addition

/tmp/ipykernel_31748/392715363.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": fire_type, "Persona": persona} for persona in fire_personas], ignore_index=True)
/tmp/ipykernel_31748/392715363.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": ice_type, "Persona": persona} for persona in ice_personas], ignore_index=True)
/tmp/ipykernel_31748/392715363.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": electricity_type, "Persona": persona} for persona in electricity_personas], ignore_index=True)

           Type        Persona
85  ELECTRICITY  Take-minakata
86  ELECTRICITY         Byakko
87  ELECTRICITY          Shiva
88  ELECTRICITY       Dionysus
89  ELECTRICITY        Michael

In [10]:
# Given the new types and personas, we'll add these personas to the DataFrame

# Types for the new personas
wind_type = "WIND"
light_type = "LIGHT"
dark_type = "DARK"

# Personas for each type
wind_personas = [
    'Orobas', 'Angel', 'Fortuna', 'Empusa', 'Kusi Mitama', 'Clotho', 'Lachesis', 'Atropos',
    'Norn', 'Nigi Mitama', 'Seiryuu', 'Nandi', 'Garuda', 'Quetzalcoatl', 'Jatayu', 'Suparna'
]

light_personas = [
    'Daisoujou', 'Archangel', 'Principality', 'Power', 'Virtue', 'Dominion', 'Throne',
    'Vasuki', 'Mithra', 'Sandalphon', 'Horus', 'Uriel', 'Atavaka', 'Metatron'
]

dark_personas = [
    'Mother Harlot', 'Yomotsu Shikome', 'Lamia', 'Ghoul', 'Pale Rider', 'Loa', 'Samael',
    'Mot', 'Alice', 'Thanatos', 'Chernobog', 'Baal Zebul', 'Lucifer', 'Nidhoggr'
]

# Add the new WIND type personas
df_personas = df_personas.append([{"Type": wind_type, "Persona": persona} for persona in wind_personas], ignore_index=True)

# Add the new LIGHT type personas
df_personas = df_personas.append([{"Type": light_type, "Persona": persona} for persona in light_personas], ignore_index=True)

# Add the new DARK type personas
df_personas = df_personas.append([{"Type": dark_type, "Persona": persona} for persona in dark_personas], ignore_index=True)

df_personas.tail()  # Show the last few rows to confirm the addition

/tmp/ipykernel_31748/3584534620.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": wind_type, "Persona": persona} for persona in wind_personas], ignore_index=True)
/tmp/ipykernel_31748/3584534620.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": light_type, "Persona": persona} for persona in light_personas], ignore_index=True)
/tmp/ipykernel_31748/3584534620.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": dark_type, "Persona": persona} for persona in dark_personas], ignore_index=True)

     Type     Persona
129  DARK    Thanatos
130  DARK   Chernobog
131  DARK  Baal Zebul
132  DARK     Lucifer
133  DARK    Nidhoggr

In [11]:
# Given the new types and personas, we'll add these personas to the DataFrame

# Types for the new personas
light_dark_type = "LIGHT & DARK"
recovery_type = "RECOVERY"
bad_status_type = "BAD STATUS"

# Personas for each type
light_dark_personas = ['Anubis', 'Trumpeter', 'Satan', 'Messiah']

recovery_personas = [
    'Unicorn', 'Kikuri-hime', 'Leanan Sidhe', 'Hariti', 'Alilat', 'Kingu',
    'Kohryu', 'Pixie', 'Alp', 'Queen Mab', 'Saki Mitama', 'Titania', 'Cybele',
    'Attis', 'Yatagarasu', 'Ananta'
]

bad_status_personas = [
    'Narcissus', 'Mothman', 'Kurama Tengu', 'Nebiros', 'Arahabaki', 'Inugami',
    'Lilim', 'Vetala', 'Incubus', 'Succubus', 'Pazuzu', 'Lilith', 'Abaddon',
    'Beelzebub', 'Kaiwan'
]

# Add the new LIGHT & DARK type personas
df_personas = df_personas.append([{"Type": light_dark_type, "Persona": persona} for persona in light_dark_personas], ignore_index=True)

# Add the new RECOVERY type personas
df_personas = df_personas.append([{"Type": recovery_type, "Persona": persona} for persona in recovery_personas], ignore_index=True)

# Add the new BAD STATUS type personas
df_personas = df_personas.append([{"Type": bad_status_type, "Persona": persona} for persona in bad_status_personas], ignore_index=True)

df_personas.tail()  # Show the last few rows to confirm the addition

/tmp/ipykernel_31748/3954547680.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": light_dark_type, "Persona": persona} for persona in light_dark_personas], ignore_index=True)
/tmp/ipykernel_31748/3954547680.py:27: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": recovery_type, "Persona": persona} for persona in recovery_personas], ignore_index=True)
/tmp/ipykernel_31748/3954547680.py:30: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_personas = df_personas.append([{"Type": bad_status_type, "Persona": persona} for persona in bad_status_personas], ignore_index=True)

           Type    Persona
164  BAD STATUS     Pazuzu
165  BAD STATUS     Lilith
166  BAD STATUS    Abaddon
167  BAD STATUS  Beelzebub
168  BAD STATUS     Kaiwan

In [12]:
# make all values in 'Persona' column lowercase
df_personas['Persona'] = df_personas['Persona'].str.lower()

In [13]:
# open the dataframe 'skills_list/inheritable_skills_with_levels.csv'
import pandas as pd

# Define the file path
file_path = '/home/eduardo/Documents/Persona3/AutoTelos/skills_list/inheritable_skills_with_levels.csv'

# Read the CSV file into a DataFrame
lower_personas_df = pd.read_csv(file_path)

In [14]:
# Get unique personas in df_personas
unique_personas_df_personas = df_personas['Persona'].unique()

# Get personas that are not in lower_personas_df
missing_personas = [persona for persona in unique_personas_df_personas if persona not in lower_personas_df['persona'].values]

# Print the missing personas
print(missing_personas)

[]

In [15]:
# Get unique personas in lower_personas_df
unique_personas_lower_personas_df = lower_personas_df['persona'].unique()

# Get personas that are not in df_personas
missing_personas = [persona for persona in unique_personas_lower_personas_df if persona not in df_personas['Persona'].values]

# Print the missing personas
print(missing_personas)

[]

In [16]:
# save df_personas to csv
df_personas.to_csv('/home/eduardo/Documents/Persona3/AutoTelos/inheritance_calculator/personas_inheritance.csv', index=False)