In [3]:
import pandas as pd

inheritance_df = pd.read_csv('/home/eduardo/Documents/Persona3/AutoTelos/inheritance_calculator/inheritance.csv')

# get all unique values from all the columns in the dataframe
all_PrP_values = set()
for column in inheritance_df:
    all_PrP_values.update(inheritance_df[column])

# keep only values of type float that are above '0.0' in 'all_values'
all_PrP_values = [value for value in all_PrP_values if isinstance(value, float) and value > 0.0]

print(all_PrP_values)

[0.2, 1.0, 3.8, 8.0]

In [4]:
import pandas as pd
skills_df = pd.read_csv("/home/eduardo/Documents/Persona3/AutoTelos/skills_list/skills.csv")

# get all unique values in the 'rank' column excluidng the value '99'

all_rank_values = set(skills_df['rank']) - {99}

print(all_rank_values)

{1.5, 2.0, 3.0, 4.0, 4.5, 5.5, 6.5, 7.0, 8.0, 2.5, 3.5, 6.0, 5.0, 9.0, 7.5, 1.0}

In [5]:
# Create a DataFrame with set1 as rows and set2 as columns, initializing all values to 0
df = pd.DataFrame(0, index=all_PrP_values, columns=all_rank_values)

,1.5,2.0,3.0,4.0,4.5,5.5,6.5,7.0,8.0,2.5,3.5,6.0,5.0,9.0,7.5,1.0
0.2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3.8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0